.success{
    color:green;
    font-weight :bold;
    margin-bottom: 10px;
}
.forgot-password .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 5px;
    margin: 35px 0 25px 0;
  }
  .forgot-password {
    padding:35px ;
  }
  .forgot-password .wrapper .wrapper-content{
    border-radius: 5px;
    background: #fff;
    width: 100%;
    max-width: 450px;
    position: relative;
    padding: 15px;
    border:0.5px solid #000;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  .forgot-password .wrapper .wrapper-content .left-border {
    content: '';
    background: #3797dd;
    height: 33px;
    width: 1%;
    position: absolute;
    top: 8%;
    left: 4%;
  }
  .forgot-password .wrapper-content h4 {  
    text-align: left;
    /* margin-left: 13px;   */
    margin-bottom: 14px;  
  }
  .forgot-password .wrapper .reset-btn {
    width: 100%;
    background-color: #3797dd;
    font-size: 16px;
    font-weight: 700;
}
.forgot-password .wrapper .reset-btn:hover {
    background-color: #000;
}