.total-numb {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #4c4c4c;
}
.add-new-btn {
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}
.add-new-btn a {
    border: 1px solid #4c4c4c52;
    padding: 4px 10px;
    color: #4c4c4c;
    border-radius: 4px;
    background-color: #ececec;
    font-weight: 400;
}
.add-new-btn a:hover {
    color: #fff;
    background-color: #4c4c4c;
    box-shadow: 0px 0px 3px #bbbbbb94;
}
.save-right {
    text-align: right;
}
.table-model table thead tr th {
    background-color: #3797dd;
    padding: 6px 14px;
    color: #fff;
    font-weight: 500;
    font-size:14px
}
.table-model table tbody tr td {
    padding: 8px 14px!important;
    font-size: 12px;
}
.table-model table tbody button {
    background-color: #fff0;
    border: none;
}
.table-model table tbody button:hover {
    background-color: #fff0;
    border: none;
}
.table-model table tbody tr:nth-child(odd) {
    background: #ececec;
}
.click-icon-edit {
    text-align: right;
}
.click-icon-edit a {
    font-size: 12px;
    color: #5886c5;
    text-decoration: underline;
}
.create-new {
    width: 700px;
}
.padding-col .col-md-6 {
    padding: 0px;
}
@media (min-width: 576px) {
    .create-new {
    max-width: 700px!important;
    margin: 3.75rem auto!important;
    }
}
